mixin contact-content()
	section.contact-content
		.contact-content__wrapper
			h1.contact-content__title Наши контакты

			.contact-content__items
				p.contact-content__item 
					span Адрес: 
					| Республика Казахстан, г. Астана, район, улица, дом, этаж.
				p.contact-content__item 
					span Тел: 
					a(href="tel:+1 (234) 567 89 00" title="") +1 (234) 567 89 00
				p.contact-content__item 
					span Факс: 
					| +1 (234) 567 89 01
				p.contact-content__item
					span E-mail: 
					a(href="mailto:info@amkodor.kz" title="") info@amkodor.kz

				.contact-content__social-items
					a(href="#" title="").contact-content__social.contact-content__social--vk Следите за нами Вконтакте
					a(href="#" title="").contact-content__social.contact-content__social--tw Следите за нами в Twitter
					a(href="#" title="").contact-content__social.contact-content__social--gp Следите за нами в Google Plus

			.contact-content__map
				| <script type="text/javascript" charset="utf-8" src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=Qeo-4OeHrvPqKikp-70eieQQKk_kaaD3&width=540&height=300"></script>

				