mixin guarantee-content()
	article.page-content
		.page-content__wrapper
			h1 Гарантийное обслуживание

			p Гарантийный срок эксплуатации техники составляет один год или 1 000 мото-часов (в зависимости от того, что наступит раньше).
			p Гарантия на технику не распространяется на элементы, регулировка или замена которых предусмотрена при проведении обычных операций обслуживания или профилактики (если такие работы не обусловлены напрямую производственным дефектом).

			p Гарантия не распространяется на комплектующие изделия, имеющие сроки гарантии ниже, чем машина в целом, а также на быстроизнашивающиеся и подлежащие по этой причине периодической замене детали: резиновые кольца, манжеты, фильтроэлементы, лампы, предохранители, ремни дизеля, съемные зубья ковша, шины (гарантия в пределах гарантийных обязательств изготовителя).

			p Компания не несет ответственности за любой ремонт или замену, потребность в которой напрямую обусловлено такими факторами как: 
			ul
				li Нормальный износ.
				li Износ в результате неправильного или небрежного использования (т.е. гонки, перегрузки, перегрев и т.д.), аварии, самовольного вмешательства или использования не оригинальных запасных частей.
				li Невыполнение предписанного профилактического обслуживания техники в соответствии с графиком профилактических работ указанным в «Руководстве по эксплуатации» и инструкциями по обслуживанию фирмы АМКОДОР.

			strong В гарантийный период необходимо проводить своевременное техническое обслуживание, обозначенное в «Руководстве по эксплуатации»:
			ul
				li Замена неисправных деталей производителя специалистом по техническому обслуживанию компании-продавца или сервисного центра. В отдельных случаях по согласованию с Продавцом и дилером замену неисправных сборочных единиц и деталей может выполнять владелец изделия.
				li Замена сборочных единиц и деталей в случае их выхода из строя, а также устранение возникших неисправностей в течение гарантийного срока производятся за счет Продавца изделия при условии соблюдения владельцем правил эксплуатации, технического обслуживания, транспортирования и хранения, перечисленных в руководстве по эксплуатации, а также выполнения рекомендованных сроков и объемов работ по техническому обслуживанию, приведенных в сервисной книжке изделия, при условии заполнения контрольных талонов.
				li Возврат Продавцу дефектных деталей производится по его требованию.
				li Гарантия не распространяется на быстроизнашивающиеся и подлежащие по этой причине замене детали, перечень которых дан в формуляре изделия.
			strong Владелец изделия теряет право на гарантию, если им:
			ul
				li Не соблюдались правила эксплуатации, указанные в эксплуатационной документации изделия;
				li Плановое техническое и сезонное обслуживание изделия не проводились в сроки, указанные в сервисной книжке изделия, и не заполнялись контрольные талоны;
				li Производилась какая-либо модернизация машины или ее конструктивные изменения или замена деталей другими, изготовленными не изготовителем изделия, без согласования с изготовителем.
			strong Если требуемые профилактические работы не будут выполняться своевременно и с соблюдением предписанных норм в «Руководстве по эксплуатации» то это аннулирует гарантийное возмещение.

			p В случае невозможности проведения технического обслуживания на авторизованной или дилерской станции торгующей организации из-за отсутствия на местах таковой, необходимо уведомить техническую службу по месту приобретения техники по телефонам: 8 (7172) 999235, 531676.

			p Гарантия сервисного обслуживания не распространяется на  неисправность(-ти) техники Покупателя, если Продавцом будет установлено, что неисправность техники была вызвана в результате ненадлежащей эксплуатации техники.

			em Примечание: Гарантийное обязательство распространяется только на дефекты и недостатки завода-изготовителя.