mixin composition-content()
	article.page-content
		.page-content__wrapper
			h1 В состав холдинга входит

			ul.composition-content-ul
				li.composition-content-ul__item
					a(href="#" title="") ОАО «АМКОДОР» - управляющая компания холдинга»
				li.composition-content-ul__item 
					a(href="#" title="") Завод «Ударник»
				li.composition-content-ul__item 
					a(href="#" title="") Завод «Дормаш»
				li.composition-content-ul__item 
					a(href="#" title="") Завод «Дормашмет»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «АМКОДОР-УНИКАБ»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «Амкодор-Пинск»
				li.composition-content-ul__item 
					a(href="#" title="") ОАО «Амкодор-Унимод»
				li.composition-content-ul__item 
					a(href="#" title="") ОАО «Амкодор – Белвар»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «Амкодор-Спецсервис»
				li.composition-content-ul__item 
					a(href="#" title="") ООО «Амкодор-Можа»
				li.composition-content-ul__item 
					a(href="#" title="") ОАО «Амкодор-Дзержинск»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «Амкодор-Шклов»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «Амкодор-Лит»
				li.composition-content-ul__item 
					a(href="#" title="") ООО «Амкодор-Брянск»
				li.composition-content-ul__item 
					a(href="#" title="") ТОО «Амкодор-Астана»
				li.composition-content-ul__item 
					a(href="#" title="") Производственное унитарное предприятие «Амкодор-Логойск»
				li.composition-content-ul__item 
					a(href="#" title="") Унитарное предприятие «Амкодор-Торг»
				li.composition-content-ul__item 
					a(href="#" title="") ИП ООО «АМКОДОР-ТАШКЕНТ»
				li.composition-content-ul__item 
					a(href="#" title="") ООО «АМКОДОР Дизайн-центр»
				li.composition-content-ul__item 
					a(href="#" title="") ОАО «Амкодор-КЭЗ»
				li.composition-content-ul__item 
					a(href="#" title="") ООО «AMKODOR-BAKU»
				li.composition-content-ul__item 
					a(href="#" title="") ЗАО «АМКОДОР БАЛТИК»
				li.composition-content-ul__item 
					a(href="#" title="") Унитарное предприятие «Амкодор-ДОМЗ»
				li.composition-content-ul__item 
					a(href="#" title="") ООО «АМКОДОР Финанс»