mixin composition-content()
	article.page-content
		.page-content__wrapper
			h1 В состав холдинга входит

			ul.composition-content-ul
				li.composition-content-ul__item
					a(href="http://amkodor.by/" title="") ОАО «АМКОДОР» - управляющая компания холдинга»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zavod_udarnik/" title="") Завод «Ударник»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zavod_dormash/" title="") Завод «Дормаш»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zavod_dormashmet/" title="") Завод «Дормашмет»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_unikab/" title="") ЗАО «АМКОДОР-УНИКАБ»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_pinsk/" title="") ЗАО «Амкодор-Пинск»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/oao_amkodor_unimod/" title="") ОАО «Амкодор-Унимод»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/oao_amkodor_belvar/" title="") ОАО «Амкодор – Белвар»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_spetsservis/" title="") ЗАО «Амкодор-Спецсервис»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ooo_amkodor_mozha/" title="") ООО «Амкодор-Можа»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/oao_amkodor_dzerzhinsk1/" title="") ОАО «Амкодор-Дзержинск»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_shklov/" title="") ЗАО «Амкодор-Шклов»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_lit/" title="") ЗАО «Амкодор-Лит»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ooo_amkodor_brjansk/" title="") ООО «Амкодор-Брянск»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/too_amkodor_astana/" title="") ТОО «Амкодор-Астана»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/amkodor_logojsk/" title="") Производственное унитарное предприятие «Амкодор-Логойск»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/up_amkodor_torg/" title="") Унитарное предприятие «Амкодор-Торг»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ip_ooo_amkodor_tashkent/" title="") ИП ООО «АМКОДОР-ТАШКЕНТ»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ooo_amkodor_dizajn_tsentr1/" title="") ООО «АМКОДОР Дизайн-центр»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/oao_amkodor_kez/" title="") ОАО «Амкодор-КЭЗ»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ooo_amkodor_baku1/" title="") ООО «AMKODOR-BAKU»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/zao_amkodor_baltik_dochernee/" title="") ЗАО «АМКОДОР БАЛТИК»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/prup_dzerzhinskij/" title="") Унитарное предприятие «Амкодор-ДОМЗ»
				li.composition-content-ul__item 
					a(href="http://amkodor.by/businesses/ooo_amkodor_finans_dochernee/" title="") ООО «АМКОДОР Финанс»