mixin main-block(modiffer)
	- if (modiffer == undefined) modiffer = ''
	section.main-block(class="#{modiffer}")
		.main-block__wrapper
			.main-block__title(class="#{modiffer}") Сельскохозяйственная техника

			img(src="%=staticPrefix=%images/content/track.jpg" alt="" class="#{modiffer}").main-block__img

			p.main-block__text(class="#{modiffer}") 15 мая 2015г. в Шкловском районе в ОАО «Экспериментальная база «Спартак» прошел семинар-совещание по вопросу готовности сельскохозяйственных организаций Могилевской области к заготовке травяных кормов. Участие в мероприятии приняли министр сельского хозяйства и продовольствия Беларуси Л. К.Заяц, председатель облисполкома В.В.Доманевский, помощник Президента Беларуси по Могилевской области Г.М.Лавренков, руководители райисполкомов, начальники райсельхозпродов и другие заинтересованные лица. В ходе семинара УП "СПАМАШ" представило министру погрузчик АМКОДОР 352С-02 со складывающимися вилами, предназначенный для использования в ходе промышленной заготовки кормов.
			- if (modiffer == 'undefined') {
				a(href="#" title="").main-block__link Подробнее...
			- }
			