mixin sertificate-content()
	section.sertificate-content
		.sertificate-content__wrapper
			h1 Сертификаты соответствия

			table.sertificate-table
				tbody
					tr
						td 
						td 
							a(href="#" title="") СЕРТИФИКАТЫ СМК ОАО «АМКОДОР» - УПРАВЛЯЮЩАЯ КОМПАНИЯ ХОЛДИНГА»
						td 
					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 211
								img(src="%=staticPrefix=%images/content/img_001(1).png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 320
								img(src="%=staticPrefix=%images/content/img_002.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 320СE
								img(src="%=staticPrefix=%images/content/img_003.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 330СE
								img(src="%=staticPrefix=%images/content/img_005.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 332С4
								img(src="%=staticPrefix=%images/content/332.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 342B
								img(src="%=staticPrefix=%images/content/342.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 325С
								img(src="%=staticPrefix=%images/content/img_004.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 342P
								img(src="%=staticPrefix=%images/content/342r.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 342С4
								img(src="%=staticPrefix=%images/content/342_c4.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 352
								img(src="%=staticPrefix=%images/content/352.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 352С
								img(src="%=staticPrefix=%images/content/352c.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 371
								img(src="%=staticPrefix=%images/content/371.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 451А
								img(src="%=staticPrefix=%images/content/451_a.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 527
								img(src="%=staticPrefix=%images/content/527.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2242В
								img(src="%=staticPrefix=%images/content/2242b.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2243
								img(src="%=staticPrefix=%images/content/2243.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2531
								img(src="%=staticPrefix=%images/content/2531_2541.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2541
								img(src="%=staticPrefix=%images/content/2531_2541.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2551
								img(src="%=staticPrefix=%images/content/2551.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2661
								img(src="%=staticPrefix=%images/content/2661.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2662
								img(src="%=staticPrefix=%images/content/2662.png" alt="")

					tr
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2682
								img(src="%=staticPrefix=%images/content/2682.png" alt="")
						td
							a(href="#" title="") СЕРТИФИКАТЫ АМКОДОР 2904
								img(src="%=staticPrefix=%images/content/2904.png" alt="")