mixin top-menu()
	nav.top-menu
		a(href="#" title="").top-menu__item Главная
		
		// О компании start
		.top-menu__item О компании
		.top-menu-inside
			.top-menu-inside__wrapper
				.top-menu-inside__column
					.top-menu-inside__title Холдинг "Амкодор":
					a(href="#" title="").top-menu-inside__item История
					a(href="#" title="").top-menu-inside__item Состав холдинга
					a(href="#" title="").top-menu-inside__item Достижения и успехи
					a(href="#" title="").top-menu-inside__item Структура предприятия
				.top-menu-inside__column
					.top-menu-inside__title Амкодор-Астана:
					a(href="#" title="").top-menu-inside__item История
					a(href="#" title="").top-menu-inside__item Структура
					a(href="#" title="").top-menu-inside__item Вакансии
				.top-menu-inside__column
					.top-menu-inside__title Наши партнеры
		// О компании end

		// Продукция start
		.top-menu__item Продукция
		// Продукция end

		// Клиентам start
		.top-menu__item Клиентам
		.top-menu-inside
			.top-menu-inside__wrapper
				.top-menu-inside__column
					.top-menu-inside__title Покупка и финансирование:
					a(href="#" title="").top-menu-inside__item Лизинг
					a(href="#" title="").top-menu-inside__item Кредит
					a(href="#" title="").top-menu-inside__item Типовой договор на покупку техники
				.top-menu-inside__column
					.top-menu-inside__title Сервис:
					a(href="#" title="").top-menu-inside__item Сервисное-техническое обслуживание
					a(href="#" title="").top-menu-inside__item Гарантийное обслуживание
					a(href="#" title="").top-menu-inside__item Оригинальные запчасти
				.top-menu-inside__column
					.top-menu-inside__title Пресс центр:
					a(href="#" title="").top-menu-inside__item Пресс центр
		// Клиентам end
		
		a(href="#" title="").top-menu__item Контакты