mixin top-menu()
	nav.top-menu
		a(href="http://extiser.github.io/amkodor/builds/index.html" title="").top-menu__item Главная
		
		// О компании start
		.top-menu__item О компании
		.top-menu-inside
			.top-menu-inside__wrapper
				.top-menu-inside__column
					.top-menu-inside__title Холдинг "Амкодор":
					a(href="http://extiser.github.io/amkodor/builds/history.html" title="").top-menu-inside__item История
					a(href="http://extiser.github.io/amkodor/builds/composition.html" title="").top-menu-inside__item Состав холдинга
					a(href="http://extiser.github.io/amkodor/builds/sertificate.html" title="").top-menu-inside__item Достижения и успехи
					a(href="http://extiser.github.io/amkodor/builds/structure.html" title="").top-menu-inside__item Структура предприятия
				.top-menu-inside__column
					.top-menu-inside__title Амкодор-Астана:
					a(href="http://extiser.github.io/amkodor/builds/about.html" title="").top-menu-inside__item История
					a(href="#" title="").top-menu-inside__item Структура
					a(href="#" title="").top-menu-inside__item Вакансии
				.top-menu-inside__column
					.top-menu-inside__title Наши партнеры
					a(href="#" title="").top-menu-inside__item Парнеры
		// О компании end

		// Продукция start
		a(href="http://extiser.github.io/amkodor/builds/catalog.html" title="").top-menu__item Продукция
		// Продукция end

		// Клиентам start
		.top-menu__item Клиентам
		.top-menu-inside
			.top-menu-inside__wrapper
				.top-menu-inside__column
					.top-menu-inside__title Покупка и финансирование:
					a(href="#" title="").top-menu-inside__item Лизинг
					a(href="#" title="").top-menu-inside__item Кредит
					a(href="#" title="").top-menu-inside__item Типовой договор на покупку техники
				.top-menu-inside__column
					.top-menu-inside__title Сервис:
					a(href="http://extiser.github.io/amkodor/builds/service.html" title="").top-menu-inside__item Сервисное-техническое обслуживание
					a(href="http://extiser.github.io/amkodor/builds/guarantee.html" title="").top-menu-inside__item Гарантийное обслуживание
					a(href="#" title="").top-menu-inside__item Оригинальные запчасти
				.top-menu-inside__column
					.top-menu-inside__title Пресс центр:
					a(href="#" title="").top-menu-inside__item Пресс центр
		// Клиентам end
		
		a(href="http://extiser.github.io/amkodor/builds/contact.html" title="").top-menu__item Контакты