.slider {
	width: 100%;
	max-width: 1920px;
	margin: auto;
}

.slider-item {
	position: relative;

	height: 283px !important;
	&__img {
		width: 100%;
		height: auto;
	}
	&__description {
		position: absolute;
		bottom: 0;

		width: 100%;
		padding: 13px 0;

		color: #fff;
		background-color: rgba(0, 0, 0, .45);
		p {
			margin: 0;

			font-size: em(13px);
			line-height: em(17px, 13px);
		}
	}
	&__title {
		margin-bottom: 5px;
		padding-top: 2px;

		text-transform: uppercase;

		font-family: "PTSans-Bold";
		font-size: em(19px);
	}
}
