mixin cart-content()
	section.cart-content
		.cart-content__wrapper
			h1 АМКОДОР 320СЕ

			img(src="%=staticPrefix=%images/content/cart-content.jpg" alt="" align="right")

			p Погрузчик универсальный АМКОДОР 320СЕ – многоцелевая  машина компактного класса и предназначена для использования в строительстве, в коммунальном и сельском хозяйстве, в морских и речных портах, на складах, где требуется эффективная работа в ограниченном пространстве.

			p АМКОДОР 320СЕ  оснащен дизелем фирмы Deutz (Германия) экологического класса Stage IIIA, что особенно важно при работе в коммунальном хозяйстве мегаполисов, где предъявляются повышенные требования к экологии.

			p На машинах установлена гидрообъемная трансмиссия фирмы Sauer-Danfoss (Дания) с электронным управлением, ведущие мосты фирм Carraro (Италия) или Dana (Италия) с самоблокирующимися дифференциалами повышенного трения и многодисковыми тормозами в «масле», что обеспечивает бесступенчатое изменение скорости движения, плавность хода и высокую проходимость. В сочетании с шарнирно-сочлененной рамой с углом складывания ±40°, удобной и комфортабельной кабиной с  хорошей обзорностью это обеспечивает эффективную работу в стесненных условиях.

			p Гидравлическое устройство для быстрой смены рабочих органов погрузчика позволяет произвести замену рабочих органов в течение 1-2 минут без выхода оператора из кабины. При установке активных рабочих органов необходимо дополнительно подсоединить несколько быстроразъемных муфт для соединения гидравлических трубопроводов.

			p Для управления рабочим оборудованием в кабине установлено два гидравлических джойстика. Один -  универсальный, который управляет стрелой и ковшом, имеет переключатель реверса движения машины и две электрические кнопки для управления 3-й гидравлической функцией. Второй джойстик - 3-позиционный с фиксацией для 4-й гидравлической функции, например, для привода щётки и других активных быстросменных рабочих органов, которым необходимы 2 гидравлические функции. Это позволяет адаптировать рабочие органы специализированных фирм-изготовителей.

			p В базовом исполнении погрузчик оснащен ковшом, все остальные быстросменные рабочие органы заказываются дополнительно.

			p Погрузчик оснащён комфортабельной кабиной, в базовую комплектацию которой входит кондиционер-отопитель, регулируемая рулевая колонка и сиденье, переключатель 12/24В, гнездо для подключения мобильного телефона и МР3 плейера.

			h2 МОДИФИКАЦИИ

			.cart-content-modification
				- for(var i = 0; i < 5; i++) {
				.cart-content-modification__item
					a(href="#" title="")
						img(src="%=staticPrefix=%images/content/w12.png" alt="")
					a(href="#" title="").cart-content-modification__link Ковш 320СЕ.45.01.000
				- }