include ../head/head
include ../header/header
include ../top-menu/top-menu
include ../news-line/news-line
include ../slider/slider
include ../main-block/main-block
include ../structure-content/structure-content
include ../page-content/page-content
include ../footer/footer