mixin structure-inner-content()
	article.page-content
		.page-content__wrapper
			h1 Совет директоров

			div
				img(src="%=staticPrefix=%images/content/photo_mm.png" alt="" align="left")

				h2 Председатель Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга»

			h3 БИОГРАФИЯ

			p Шакутин Александр Васильевич. Родился в 1959 году в деревне Большое Бабино Оршанского района Витебской области.

			p В 1986 году окончил Минский государственный медицинский институт, врач-лечебник.

			p Трудовую деятельность начал трактористом колхоза «Родина» Оршанского района Витебской области. Во время учебы в Минском государственном медицинском институте был заместителем секретаря комитета комсомола института, командиром-инструктором зональных студенческих строительных штабов Минского обкома комсомола. После окончания института работал инструктором, главным врачом Республиканского студенческого отряда — заведующим сектором Центрального комитета ЛКСМ Белоруссии.

			p Прошел интернатуру в 4-й Минской городской клинической больнице. После окончания клинической ординатуры Минского государственного медицинского института по специальности «хирургия» работал заведующим 1-м хирургическим отделением 10-й Минской городской клинической больницы, главным врачом медсанчасти, директором медицинского центра  Минского  ордена  Ленина   и ордена Октябрьской Революции тракторного   завода,  президентом   Международной медицинской ассоциации «Здоровье и красота», президентом научно-производственного объединения «Проммединвест» (г. Минск), генеральным директором закрытого акционерного общества «Проммединвест».

			p Заместитель председателя Постоянной комиссии Совета Республики Национального собрания Республики Беларусь по международным делам и национальной безопасности.

			p Член Президиума Республиканского общественного объединения «Белая Русь».

			p Член Совета по развитию предпринимательства в Республике Беларусь.

			p Заместитель генерального директора по вопросам перспективного развития общества с ограниченной ответственностью «ПМИ инжиниринг».

			p В 2003 году избран членом Совета директоров ОАО «Амкодор-Ударник», с 2005 года и по настоящее время является председателем Совета директоров ОАО «АМКОДОР»- управляющая компания холдинга».

			p Имеет Благодарность Президента Республики Беларусь.

			p Награжден медалью «За трудовые заслуги», юбилейными медалями «65 год вызвалення Рэспублікі Беларусь ад нямецка-фашысцкіх захопнікаў», «65 лет Победы в Великой Отечественной войне 1941 — 1945 гг.», Почетной грамотой Национального собрания Республики Беларусь.

			strong Адрес, контакты

			p 220013, Республика Беларусь, г. Минск, ул. П.Бровки, 8
			p тел. 8 (017) 280 39 99