.structure-content {
	&__wrapper {
		@extend .wrapper;
	}
	&__title {
		@extend .title;
	}
	&__so-title {
		margin-top: 15px;
		margin-bottom: 12px;

		text-align: center;

		color: #222;

		font-family: "PtSans-Bold";
		font-size: em(20px);
		font-weight: normal;
	}
}

.structure-content-items-list {
	width: 900px;
	margin: auto;

	text-align: center;
}

.structure-content-item {
	display: inline-block;

	width: 196px;
	margin: 10px 12px 30px;

	vertical-align: top;
	text-decoration: none;
	&__img {
		position: relative;

		text-align: center;
		img {
			width: 186px;
			padding: 4px;

			background-color: #fff;
			box-shadow: rgba(0, 0, 0, .25) 1px 1px 5px 1px;
		}
	}
	&__name {
		position: absolute;
		bottom: 8px;
		left: 4px;

		width: 166px;
		padding: 6px 10px;

		color: #fff;
		background-color: rgba(0, 0, 0, .45);

		font-size: em(16px);
		line-height: em(18px, 16px);
	}
	&__position {
		display: block;

		margin-left: 2px;

		text-align: left;

		color: #444;

		font-size: em(14px);
		line-height: em(18px, 14px);
	}
}
