mixin structure-content()
	section.structure-content
		.structure-content__wrapper
			h1.structure-content__title Структура предприятия

			h2.structure-content__so-title Совет директоров
		
		.structure-content-items-list
			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d1.png" alt="")
					span.structure-content-item__name Шакутин Александр Васильевич
				span.structure-content-item__position Председатель Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга»

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d2.png" alt="")
					span.structure-content-item__name Машкаров Николай Михайлович
				span.structure-content-item__position Заместитель председателя Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга». Первый заместитель маркетинг-директора

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d3.png" alt="")
					span.structure-content-item__name Шрестха Нирадж
				span.structure-content-item__position Член Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга». Советник Почетного генерального консула Королевства Непал в Республике Беларусь

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d4.png" alt="")
					span.structure-content-item__name Шнек Наталья Викторовна
				span.structure-content-item__position Секретарь Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга». Начальник управления собственности и ценных бумаг

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d5.png" alt="")
					span.structure-content-item__name Дюжев Андрей Анисимович
				span.structure-content-item__position Член Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга». Генеральный конструктор

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d6.png" alt="")
					span.structure-content-item__name Атрахимович Вячеслав Геннадьевич
				span.structure-content-item__position Член Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга»

			.structure-content-item
				.structure-content-item__img
					img(src="%=staticPrefix=%images/content/d7.png" alt="")
					span.structure-content-item__name Огородников Александр Сергеевич
				span.structure-content-item__position Член Совета директоров ОАО «АМКОДОР» - управляющая компания холдинга». Заместитель Министра промышленности Республики Беларусь