mixin catalog-content()
	section.catalog-content
		.catalog-content__wrapper
			h1 Каталог продукцииx

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/selhoz.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Комунально-дорожная техника
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/comunal.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Сельскохозяйственная техника
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/sklad.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Складская техника
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/les.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Лесная техника
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/zerno.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Зерносушители
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/zapchasti.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Запчасти
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы

			.catalog-content-product
				.catalog-content-product__img
					img(src="%=staticPrefix=%images/content/naves.jpg" alt="")
				a(href="http://extiser.github.io/amkodor/builds/product-list.html" title="").catalog-content-product__link Навесное оборудование
				a(href="http://extiser.github.io/amkodor/builds/catalog-table.html" title="").catalog-content-product__category Быстросменные рабочие органы